/* From Uiverse.io by akshat-patel28 */ 
/* styles/navBar.module.css */

.container {
    display: flex;
    justify-content: center; /* Align content to the left */
    align-items: center; /* Align items to the top */

    padding-top: 2px;
    padding-bottom: 20px;
    padding-right: 20px; /* Add padding to move the NavBar further from the left edge */
    font-weight: 700;
    background-color: rgba(0, 0, 0, 0.829);
    
}

.button-container {
    z-index: 2; /* Higher z-index to be on top of the video */
    display: flex;
    
    width: 1000px;
    height: 75px;
    align-items: center;
    justify-content: space-around;
    border-radius: 10px;
    
}

  
  .button {
    outline: 0 !important;
    border: 0 !important;
    width: 400px;
    height: 40px;
    border-radius: 50%;
    background-color: transparent;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fff;
    transition: all ease-in-out 0.3s;
    cursor: pointer;
  }
  
  .button:hover {
    transform: translateY(-3px);
    
  }
  
  .icon {
    font-size: 50px;
    
  }

  .p {
    text-align: center;
    color: rgb(255, 255, 255);
    font-size: 23px;
    
    text-shadow: 2px 0px 4px rgba(0, 0, 0, 0.82);

    
}
